.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
  background: #b22222;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}




